<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <i class="fas fa-calendar-alt"></i> SupNum Planning
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text text-white me-3">
                            <i class="fas fa-user"></i> {{ user.username }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="">
                            <i class="fas fa-sign-out-alt"></i> Déconnexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="">
                            <i class="fas fa-sign-in-alt"></i> Connexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
